In [2]:
import numpy as np
import pandas as pd

In [3]:
df1 = pd.read_csv('./country_suppertype.csv')
df1.head()

   geo_id geo_code         name_en          name_th abbreviation  type_id
0       1       AF     Afghanistan      อัฟกานิสถาน           AF        1
1       2       AX   Åland Islands  หมู่เกาะโอลันด์           AX        1
2       3       AL         Albania        แอลเบเนีย           AL        1
3       4       DZ         Algeria        แอลจีเรีย           DZ        1
4       5       AS  American Samoa    อเมริกันซามัว           AS        1

In [4]:
df2 = pd.DataFrame({
    'id': range(1,len(df1)+1),
    'isocode': df1['geo_code'],
    'name_en': df1['name_en'],
    'name_th': df1['name_th']
})
df2.head()

   id isocode         name_en          name_th
0   1      AF     Afghanistan      อัฟกานิสถาน
1   2      AX   Åland Islands  หมู่เกาะโอลันด์
2   3      AL         Albania        แอลเบเนีย
3   4      DZ         Algeria        แอลจีเรีย
4   5      AS  American Samoa    อเมริกันซามัว

In [5]:
df2.to_csv('./static_country.csv', index=False)